<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<center>
                    <h2 class="modal-title">TEAM MEMBERS</h2>
                </center>

			</div>
			<div class="modal-body">

                <center>
				<h4 class="blue">Romana Afroz</h4>
				<p><b> Class Roll :</b> 03</p>
				<p><b> Exam Roll :</b> 1401--</p>

				<h4 class="blue">Md. All Rabbi</h4>
				<p><b> Class Roll :</b> 25</p>
				<p><b> Exam Roll :</b> 140136</p>

				<h4 class="blue">Junayed Buhiyan</h4>
				<p><b> Class Roll :</b> 32</p>
				<p><b> Exam Roll :</b> 140136</p>
                </center>

			</div>
		</div>
	</div>
</div>
